.sidebarContainer {
    position: relative;
}

.sidebarchild {
    display: none;
    position: absolute;
    left: 109%;
    z-index: 999;
    top: 0;
    background-color: #fff;
    color: #000;
    min-width: 170px;
}

    .sidebarchild ul {
        padding: 0 !important;
    }

        .sidebarchild ul li {
            padding: 5px;
            border: 1px solid #000;
        }

            .sidebarchild ul li :hover {
                background-color: #2B78E4;
                color: #fff;
            }
/* css Theo doi thu chi */
.fl-date-item span {
    min-width: 66px;
    text-align: center;
    border: 1px solid #000;
    padding: 3px;
    background-color: #2B78E4;
    color: #fff;
}

.fl-date-content {
    border: 1px solid;
}

.fl-date-content, .fl-date-item {
    margin: 0 !important;
}

.fl-date-content-item {
    padding: 5px;
}

    .fl-date-content-item .number {
        float: right;
    }

.fl-date-content-title {
    margin-top: 5px;
    margin-bottom: 30px;
}
/* css color*/
.cl-red {
    color: red !important;
}

.cl-green {
    color: green !important;
}

.cl-orange {
    color: #ff6a00 !important;
}
/*css float*/
pull-left{
    float:left;
}
pull-right {
    float: right;
}
pull-clear{
    clear:both;
}
/*css padding*/
.p-0{
    padding:0!important;
}
p-l-0{
    padding-left:0 !important;

}
p-r-0{
    padding-right:0 !important;
}
p-t-0{
    padding-top: 0 !important;
}
p-b-0{
    padding-bottom:0 !important;
}
.m-0{
    margin:0 !important;
}
/*css border*/
.border-none {
    border: none !important;
}

.border-left {
    border-left: 1px solid #000;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-middel {
    text-align: center !important;
}