.contentContainer {
    border: black 1px solid;
}
.height100{
    height :100%;
}
.left-nav {
   
    border: black 1px solid;
    /* padding-top: 14px; */
    margin-top: 25px;
    margin-bottom: 10px;
    position: relative;
}
.month {
    display: inline;
    padding: 0 15px;
    position: absolute;
    top: -22px;
    z-index: 9999;
    background-color: white;
    font-size: 25px;
}
.total {
    margin-top: 30px;
    /* margin-left: 167px; */
    /* margin-right: 175px; */
    border: 1px solid black;
    text-align: center;
    /* padding: 3px 100px; */
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.detail-container {
    border: 1px solid black;
    height: 80%;
    margin-top: 20px;
}
.border-green {
    border: 3px solid #009E0F;
}
.border-red {
    border: 3px solid #CC0000;
}
.detail-today {
    
    margin-top: 7px;
    text-align: center;
}
.detail-item-container {
    margin-top: 27px;
}
.detail-item-container > li {
    display: block;
    /* height: 57%; */
    width: 81%;
    margin: 10px auto;
    font-size: 18px;
}
.detail-item-text {
    padding-left: 10px;
}
.detail-item-number {
    display: inline;
    /* float: right; */
    margin-left: 50%;
}
.more {
    text-align: center;
    color: #2B78E4;
}
.detail-today-container {
    width: 70%;
    margin: 22px auto;
    height: 90%;
    border: 1px solid;
    
}