.hidden{
    display:none;
}
﻿.contentContainer {
    border: black 1px solid;
}

.height100 {
    height: 100%;
}

.left-nav {
    border: black 1px solid;
    margin-top: 25px;
    margin-bottom: 10px;
    position: relative;
}

.month {
    display: inline;
    padding: 0 15px;
    position: absolute;
    top: -22px;
    z-index: 9999;
    background-color: white;
    font-size: 25px;
}

.total {
    margin-top: 40px;
    border: 1px solid black;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}

.detail-container {
    border: 1px solid black;
    height: 75%;
    margin-top: 50px;
    position: relative;
}

.border-green {
    border: 3px solid #009E0F;
    color: #009E0F;
}

.border-red {
    border: 3px solid #CC0000;
    color: #CC0000;
}

.detail-today {
    margin-top: 16px;
    text-align: center;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.detail-item-container {
    margin-top: 27px;
}

    .detail-item-container > li {
        display: block;
        width: 81%;
        margin: 10px auto;
        font-size: 18px;
        font-size: 18px;
        margin-top: 17px;
    }

.detail-item-text {
    padding-left: 10px;
}

.detail-item-number {
    display: inline;
    margin-left: 50%;
}

.more {
    text-align: center;
    color: #2B78E4;
}

.detail-today-container {
    width: 70%;
    margin: 45px auto 0 auto;
    height: 90%;
    border: 1px solid;
}

.title-detail {
    position: absolute;
    top: 167px;
    font-size: 22px;
    background-color: white;
    left: 30px;
    padding: 0 15px;
    font-weight: bold;
}

.select-day {
    width: 200px;
    position: absolute;
    top: 166px;
    right: 126px
}

.chart-container {
    position: relative;
    margin: auto;
    height: 250px;
    width: 250px;
}

.chart-nav {
    margin-top: 32px;
}

.my-border-bottom {
    border-bottom: 3px solid;
}

.collect {
    position: relative;
    margin: 15px;
    font-size: 20px;
}

.money {
    position: absolute;
    right: 0;
}

.red-text {
    color: #CC0000;
}

.green-text {
    color: #009E0F;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.chart-container-max {
    position: relative;
    margin: auto;
    height: 250px;
    width: 350px;
}

.right-nav {
    margin-top: 25px;
}

.title-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.italic {
    font-style: italic;
}

.border-nav {
    border: 1px solid;
}

.content-header {
    margin-bottom: 5px;
}

.top-bottom-40 {
    margin-top: 40px;
    margin-bottom: 35px;
}

.top-20 {
    top: -20px;
}

.right-width-header {
    right: 59px;
    width: 110px;
}

.position-rela {
    position: relative;
}

.wrapper {
    width: 495px;
    margin-top: 30px;
}

.line {
    height: 25px;
    min-width: 100px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
}

    .line:before {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        height: 25px;
        top: 0;
        z-index: -2;
        background: #009E0F;
    }

    .line:after {
        content: '';
        background: #CC0000;
        height: 25px;
        transition: 5s;
        display: block;
        width: 100%;
        animation: animate 1 10s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

.line1:after {
    max-width: 30%;
}

.scroll {
    margin-top: 20px;
    width: 510px;
    height: 146px;
    overflow: auto;
    border: 1px solid;
    margin: 30px auto;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}
