.content {
    background-color: #CCCCCC;
}

.money-box {
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border: solid;
    border-color: black;
}

.main {
    padding: 50px;
    background-color: white;
    border: solid;
}

.container-main {
    /*height: 80%;*/
}

.green {
    color: green;
}

.red {
    color: red;
}
